

   /* font-family: 'Nunito', sans-serif;

    font-family: 'Berkshire Swash', cursive;

    font-family: 'Shrikhand', cursive;

    font-family: 'Archivo Black', sans-serif;*/



body {
    background: url('../img/topography.png');
    font-family: 'Nunito', sans-serif;
    
}

.topper {
    margin-bottom: 4%;
    background-color: rgb(6, 27, 46)
}

#mon_oeuvre {
    text-align: center;
}

#js {
    /*margin-bottom: 25%;*/
    margin-right: auto;
    margin-left: auto; 
    width: 60vw;
}


#brand {

    margin: none;
    font-size: 2em;
    font-family: 'Berkshire Swash', cursive;
    color: white;

}

#resultat {

    border-color: rgba(141, 133, 133, 0.685);
    border-width: 1px;
    border-style: solid;
    border-radius: 2%;
    padding: 5%;
    background-color: rgba(244, 246, 247, 0.5);
    height: auto;
    width: auto;
    color: rgb(49, 47, 43);
    box-shadow: 4px 4px 8px #555;
    margin: auto;
      

}

#anounce {
    margin-top: -3%;
    font-weight: bold;
}

#about {

    font-family: 'Nunito', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

#about-text {

    border-color: rgba(141, 133, 133, 0.685);
    border-width: 1px;
    border-style: solid;
    border-radius: 2%;
    padding: 5%;
    background-color: rgba(244, 246, 247, 0.5);
    height: auto;
    width: 70vw; 
    color: rgb(49, 47, 43);
    box-shadow: 4px 4px 8px #555;

}

.back {

    margin-bottom: 3%;
    margin-top: 0%;
    background-color: rgb(6, 27, 46);
    color: white;
}

.back:hover {
    color: white;
}
   /* font-family: 'Nunito', sans-serif;

    font-family: 'Berkshire Swash', cursive;

    font-family: 'Shrikhand', cursive;

    font-family: 'Archivo Black', sans-serif;
    
    font-family: 'Abril Fatface', cursive;*/